aws_region = "us-east-2"
environment = "prod"

# VPC Configuration
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-2a", "us-east-2b", "us-east-2c"]

# RDS Configuration
db_allocated_storage = 100
db_instance_class   = "db.t3.small"
db_engine_version   = "15"
db_name             = "form_to_1milion_db"

# Change these values!
# db_username = "postgres"
# db_password = "your-secure-password-here"

# SQS Configuration
queue_name = "user-create-queue"

# ECS Configuration
cluster_name       = "form-to-1milion"
api_desired_count  = 1
worker_desired_count = 1

# API Task Configuration
api_cpu    = 512
api_memory = 1024

# Worker Task Configuration
worker_cpu    = 256
worker_memory = 512
